<li>
  <span class="content"><img src= "<%= basicrssfeed.site_logo_link %>"> 
  Название ленты: <%= basicrssfeed.name %>
  <br>
  Ссылка на сайт: <a href ="<%= basicrssfeed.site_link %>"><%= basicrssfeed.site_link %></a></span>
</li>