<% provide(:title, "Каталог новостных лент") %>
<div class="row">
  
  <aside>
    
  </aside>
  <div class="span8">
    <% if @BasicRssFeeds.any? %>
      <h3>Каталог новостных лент</h3>
	  <h2><%= link_to "Добавить ленту", new_feed_path %></h2>
      <ol class="RssFeed">
        <%= render :partial => "basicrssfeed" , :collection => @BasicRssFeeds %>
      </ol>
    <% end %>
  </div>
</div>